.App {
  text-align: center;
}

.container {
  background-color: antiquewhite;
  padding: 15px;
  border-radius: 8px;
  width: fit-content;
  margin: 15px;
  
}


h1 {
  color: rgb(19, 84, 145);
  font-size: 30px;
}

h2 {
  margin: 0px 0px;
  font-size: 20px;

}

p {
  color: grey;
  margin: 0px 0px;
  font-size: 12px;
}

.main {
  margin-bottom: 15px;
}